$font-family-base: 'DM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headings: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-numbers: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$responsive-width-tablet: 768px;
$responsive-width-phone: 768px;
$factor: 16px;
$font-size-default: 16px;
$font-size-small: 16px;
$font-size-large: 18px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
